//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.10
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Sat 04 01 02:11:45 2023

IO_LOC "blue" 11;

IO_LOC "green" 10;

IO_LOC "red" 9;

IO_LOC "b" 13;

IO_LOC "a" 44;

